// COLORS

$dark-grey: #c2c2c2;
$border-grey: rgba(#2e2e37, .5);

$text-color: #b2b6b9 !default;
$text-color-danger: #990000 !default;

$brand-color: $text-color;
$heading-text-color: #fff;

$background-grey: #1a1c20;
$background-color: $background-grey !default;
$header-background-color: #141414;

/* Colors by http://clrs.cc/ */

// $navy   : #001F3F;
$blue   : #0074D9;
$aqua   : #7FDBFF;
$teal   : #39CCCC;
$olive  : #3D9970;
$green  : #2ECC40;
$lime   : #01FF70;
$yellow : #FFDC00;
$orange : #FF851B;
$red    : #FF4136;
$fuchsia: #F012BE;
$purple : #B10DC9;
$maroon : #85144B;
$white  : #FFFFFF;
$gray   : #AAAAAA;
$silver : #DDDDDD;
$black  : #111111;
