// -----------------------------------------------------------------------------
// This file contains styles that are specific to the error pages.
// -----------------------------------------------------------------------------

.error {
  font-size: $global-margin;
  padding-top: $global-margin;
  text-align: center;
}
