// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the icons
// -----------------------------------------------------------------------------

// Icons

.icon {
  width:  1.25rem;
  height: .75rem;
  fill: $text-color;
  display: inline-block;
}

.loading-icon {
  width:  1.1rem;
  height: 1.1rem;
  fill: $olive;
  display: inline-block;
}